In [2]:
import pandas as pd
#m_data = pd.read_csv('의료데이터/NHIS_OPEN_GJ_2015.CSV',encoding='euckr')

### 데이터 적재 및 가격분위별 정보 추가

#### 상권배후지- 아파트 파일

In [ ]:
# 데이터 적재 및 가격분위별 정보 추가

# 상권배후지- 아파트 파일
아파트 = pd.read_excel("서울시 우리마을가게 상권분석서비스(상권배후지-아파트).xls")
아파트2018 = 아파트[아파트['기준년월 코드']>201800]
아파트2018['아파트 평균 시가'].sort_values
percentile = np.percentile(아파트2018['아파트 평균 시가'], [0, 25, 50, 75, 100], interpolation='nearest').tolist()
아파트2018['아파트평균시가_분위']=0

###### 아파트2018['아파트 평균 시가'][0]
for i in range(len(아파트2018)):
    if 아파트2018['아파트 평균 시가'][i]<percentile[1]:
        아파트2018['아파트평균시가_분위'][i]=1
    elif 아파트2018['아파트 평균 시가'][i]<percentile[2]:
        아파트2018['아파트평균시가_분위'][i]=2
    elif 아파트2018['아파트 평균 시가'][i]<percentile[3]:
        아파트2018['아파트평균시가_분위'][i]=3
    else:
        아파트2018['아파트평균시가_분위'][i]=4
아파트2018.rename(columns={'기준년월 코드':'기준년월코드', '상권 코드':'상권코드'})
아파트2018.to_csv('아파트_2018.csv')

#### 상권배후지 - 소득소비

In [ ]:
소득소비 = pd.read_excel("서울시 우리마을가게 상권분석서비스(상권배후지-소득소비).xls")
소득소비2018 = 소득소비[소득소비.기준년월코드>201800]
소득소비2018 = 소득소비2018.rename(columns={'기준년월코드':'기준년월 코드', '상권코드':'상권 코드'})
# 아파트 & 소득소비 적재
아파트_소득소비_2018 = pd.merge(아파트2018, 소득소비2018, how='inner', on=['기준년월 코드', '상권 코드'])
# 상권배후지-직장인구
직장인구 = pd.read_excel("서울시 우리마을가게 상권분석서비스(상권배후지-직장인구).xls")
직장인구2018 = 직장인구[직장인구['기준_년월_코드']>201800]
직장인구2018 = 직장인구2018.rename(columns={'기준_년월_코드':'기준년월 코드', "상권_코드":"상권 코드"})
jh2018 = pd.merge(아파트_소득소비_2018, 직장인구2018, how='inner', on=['기준년월 코드', '상권 코드'])
jh2018.drop("Unnamed: 0", axis=1, inplace=True)
jh2018.to_csv('jh2018.csv')

구이름 = pd.read_excel("도로명이름지번.xlsx")
df = pd.merge(jh2018, 구이름, how='inner', on='상권 코드')

In [3]:
아파트 = pd.read_excel(r'data/서울시상권데이터/서울시 우리마을가게 상권분석서비스(상권배후지-아파트).xls')

In [11]:
직장인구 = pd.read_excel(r'data/서울시상권데이터/서울시 우리마을가게 상권분석서비스(상권배후지-직장인구).xls')

In [28]:
추정매출 = pd.read_excel(r'data/서울시상권데이터/서울시 우리마을가게 상권분석서비스(상권배후지-추정매출).xls')
추정유동인구 = pd.read_csv(r'data/서울시상권데이터/서울시 우리마을가게 상권분석서비스(상권배후지-추정유동인구).csv')

In [14]:
상권지수지표.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 17 columns):
기준_년월_코드          60000 non-null int64
상권_코드             60000 non-null int64
상권_코드_명           60000 non-null object
서비스_업종_코드         60000 non-null object
서비스_업종_코드_명       60000 non-null object
과밀_지수_구간_코드       40063 non-null float64
활성도_지표_구간_코드      29403 non-null float64
성장성_지표_구간_코드      59785 non-null float64
안정성_지표_구간_코드      52832 non-null float64
과밀_지수_구간_코드_명     40063 non-null object
활성도_지표_구간_코드_명    29403 non-null object
성장성_지표_구간_코드_명    59785 non-null object
안정성_지표_구간_코드_명    52832 non-null object
과밀_지수_값           40166 non-null float64
활성도_지표_값          29403 non-null float64
성장성_지표_값          59785 non-null float64
안정성_지표_값          52832 non-null float64
dtypes: float64(8), int64(2), object(7)
memory usage: 7.8+ MB

In [94]:
추정유동인구 = pd.read_csv(r'data/서울시상권데이터/서울시 우리마을가게 상권분석서비스(상권배후지-추정유동인구).csv')

In [95]:
추정유동인구.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10454 entries, 0 to 10453
Columns: 528 entries, 기준_년월_코드 to 여성연령대_60_이상_일요일시간대_6_유동인구_수
dtypes: int64(528)
memory usage: 42.1 MB

In [108]:
추정유동인구.columns[:10]

Index(['기준_년월_코드', '상권_코드', '총_유동인구_수', '남성_유동인구_수', '여성_유동인구_수',
       '연령대_10_유동인구_수', '연령대_20_유동인구_수', '연령대_30_유동인구_수', '연령대_40_유동인구_수',
       '연령대_50_유동인구_수'],
      dtype='object')

In [110]:
추정유동인구[['상권_코드','총_유동인구_수']]

       상권_코드  총_유동인구_수
0       1744   1324899
1       1743   1530923
2       1742   1570121
3       1741    932792
4       1740   1445144
5       1739   1045189
6       1738   1245452
7       1737    543694
8       1736    387587
9       1735    467159
10      1734    400125
11      1733    420290
12      1732    325519
13      1731   1356427
14      1730    755519
15      1729   1583196
16      1728    301023
17      1727    999131
18      1726    807944
19      1725    902500
20      1724   1095952
21      1723    646275
22      1722    446344
23      1721   1099590
24      1720    566289
25      1719    730924
26      1718    825625
27      1717   1130874
28      1716    426724
29      1715    471472
...      ...       ...
10424     30   1083993
10425     29   1712276
10426     28    374233
10427     27    528248
10428     26    928593
10429     25    771373
10430     24   1132510
10431     23   1138221
10432     22    590284
10433     21    976595
10434     20    954390
10435     19   1130009
10436     18   1125928
10437     17    944418
10438     16    614573
10439     15    601966
10440     14    591546
10441     13    529785
10442     12    563871
10443     11    607636
10444     10    669814
10445      9    345330
10446      8    462316
10447      7    905720
10448      6    580353
10449      5    548092
10450      4    879426
10451      3    613513
10452      2    425059
10453      1    425732

[10454 rows x 2 columns]

In [253]:
도로명이름 = pd.DataFrame(아파트['상권 코드'].unique(), columns=['상권 코드'])

In [254]:
아파트[아파트['상권 코드']==1744]['상권 코드명'].tolist()[0]

'희우정로16길'

In [256]:
도로명이름['상권 코드명'] = None

In [258]:
for i in range(1743):
    도로명이름.loc[i,'상권 코드명'] = 아파트[아파트['상권 코드'] == 도로명이름.loc[i,'상권 코드']]['상권 코드명'].tolist()[0]

In [259]:
도로명이름

      상권 코드    상권 코드명
0      1744   희우정로16길
1      1743     휘경로3길
2      1742     휘경로2길
3      1741    휘경로23길
4      1740    휘경로14길
5      1739   휘경로11가길
6      1738    휘경로10길
7      1737    후암로57길
8      1736     후암로4길
9      1735    후암로35길
10     1734    후암로30길
11     1733    후암로23길
12     1732    후암로13길
13     1731   효창원로98길
14     1730   효창원로95길
15     1729   효창원로93길
16     1728    효창원로8길
17     1727   효창원로70길
18     1726   효창원로69길
19     1725   효창원로62길
20     1724   효창원로39길
21     1723    효령로74길
22     1722    효령로68길
23     1721    효령로67길
24     1720    효령로40길
25     1719    효령로34길
26     1718    효령로29길
27     1717   회나무로44길
28     1716  회나무로13나길
29     1715   회나무로13길
...     ...       ...
1712     29     갈현로4길
1713     28    갈현로45길
1714     27    갈현로41길
1715     26     갈현로3길
1716     25    갈현로37길
1717     24    갈현로33길
1718     23    갈현로29길
1719     22    갈현로23길
1720     21     갈현로1길
1721     20     가좌로9길
1722     19    가좌로7다길
1723     18     가좌로7길
1724     17     가좌로6길
1725     16    가좌로11길
1726     15    가재울로6길
1727     14    가재울로4길
1728     13   가재울로14길
1729     12     가산로7길
1730     11     가산로5길
1731     10     가산로3길
1732      9   가마산로89길
1733      8   가마산로88길
1734      7   가마산로61길
1735      6   가마산로15길
1736      5   가마산로12길
1737      4  가로공원로76길
1738      3    가락로36길
1739      2    가락로28길
1740      1    가락로16길
1741   1407      종로5길

[1742 rows x 2 columns]

In [260]:
도로명이름['구'] = None
도로명이름['동'] = None

In [261]:
gu_list = ['GangnamGu',
'GangdongGu',
'GangbukGu',
'GangseoGu',
'GwanakGu',
'GwangjinGu',
'GuroGu',
'GeumcheonGu',

'NowonGu',

'DobongGu',
'DongjakGu',
'DongdaemunGu',

'MapoGu',

'SeodaemunGu',
'SeochoGu',
'SeongdongGu',
'SeongbukGu',
'SongpaGu',

'YangcheonGu',
'YeongdeungpoGu',
'EunpyeongGu',
'YongsanGu',

'JongnoGu',
'JungGu',
'JungnangGu']

In [276]:
도로명이름[:20]

    상권 코드   상권 코드명     구     동
0    1744  희우정로16길  None  None
1    1743    휘경로3길  None  None
2    1742    휘경로2길  None  None
3    1741   휘경로23길  None  None
4    1740   휘경로14길  None  None
5    1739  휘경로11가길  None  None
6    1738   휘경로10길  None  None
7    1737   후암로57길  None  None
8    1736    후암로4길  None  None
9    1735   후암로35길  None  None
10   1734   후암로30길  None  None
11   1733   후암로23길  None  None
12   1732   후암로13길  None  None
13   1731  효창원로98길  None  None
14   1730  효창원로95길  None  None
15   1729  효창원로93길  None  None
16   1728   효창원로8길  None  None
17   1727  효창원로70길  None  None
18   1726  효창원로69길  None  None
19   1725  효창원로62길  None  None

### 구, 동 추가

In [332]:
for 구이름 in ['강남구','강동구','강북구','강서구','관악구','광진구','구로구','금천구','노원구','도봉구'
            ,'동대문구','동작구',
           '마포구','서대문구','서초구','성동구','성북구','송파구','양천구','영등포구','용산구','은평구','종로구','중구','중랑구']:

    경로 = '/Users/soolee/Downloads/구별도로명/'+구이름+'.xls'
    구데이터 = pd.read_excel(경로)
    for idx in range(len(도로명이름)): 
        상권명 = 도로명이름.loc[idx,'상권 코드명']

        if 상권명 in 구데이터['도로명칭'].tolist():
            #print(상권명)
            구 = 구데이터[구데이터['도로명칭'] == 상권명].iloc[0]['시군구명칭']
            #print(구)
            동 = 구데이터[구데이터['도로명칭'] == 상권명].iloc[0]['읍면동명칭']
            #print(동)

            도로명이름.loc[idx,'구'] = 구
            도로명이름.loc[idx,'동'] = 동

In [337]:
도로명이름.to_excel('도로명이름지번.xlsx',index=False)

# 집객시설 분석

In [338]:
집객시설 = pd.read_excel(r'data/서울시상권데이터/서울시 우리마을가게 상권분석서비스(상권배후지-집객시설).xls')

In [340]:
집객시설['구']= None
집객시설['동']= None

### 집객시설 데이터에 구, 동 추가

In [380]:
for idx in range(len(집객시설)):
    
    코드 = 집객시설.loc[idx,'상권_코드_명']  
    구 = 도로명이름[도로명이름['상권 코드명'] == 코드].iloc[0]['구']
    동 = 도로명이름[도로명이름['상권 코드명'] == 코드].iloc[0]['동']

    집객시설.loc[idx,'구']= 구
    집객시설.loc[idx,'동']= 동

In [382]:
집객시설.tail()

,기준_년월_코드,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,...,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,구,동
19157,201611,5,가마산로12길,101,3.0,5.0,NaN,1.0,16.0,1.0,...,NaN,NaN,27.0,NaN,NaN,NaN,NaN,15,구로구,구로동
19158,201611,4,가로공원로76길,175,2.0,4.0,NaN,1.0,30.0,4.0,...,NaN,1.0,56.0,NaN,NaN,NaN,NaN,26,강서구,화곡동
19159,201611,3,가락로36길,99,2.0,3.0,NaN,NaN,16.0,5.0,...,2.0,NaN,3.0,NaN,NaN,NaN,NaN,16,송파구,방이동
19160,201611,2,가락로28길,75,2.0,5.0,NaN,NaN,13.0,3.0,...,4.0,NaN,3.0,NaN,NaN,NaN,NaN,9,송파구,송파동
19161,201611,1,가락로16길,135,2.0,5.0,NaN,NaN,20.0,3.0,...,NaN,1.0,3.0,NaN,NaN,NaN,1.0,18,송파구,석촌동

In [383]:
집객시설.to_csv('data/서울시상권데이터/집객시설구동추가.csv',index=None)

In [385]:
집객시설.to_excel('data/서울시상권데이터/집객시설구동추가.xlsx',index=None)

###  집객시설 아파트분위수 추가

In [389]:
아파트2018 = pd.read_csv('data/서울시상권데이터/아파트_2018.csv',index_col=0)

In [432]:
집객시설2018 = 집객시설[집객시설['기준_년월_코드'] > 201800]

In [433]:
집객시설2018.head()

,기준_년월_코드,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,...,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,구,동
0,201809,1744,희우정로16길,185,4.0,2.0,NaN,NaN,14.0,1.0,...,NaN,NaN,3.0,NaN,NaN,42.0,NaN,52,마포구,망원동
1,201809,1743,휘경로3길,191,6.0,1.0,NaN,NaN,23.0,4.0,...,NaN,NaN,22.0,NaN,NaN,27.0,1.0,26,동대문구,이문동
2,201809,1742,휘경로2길,173,5.0,1.0,NaN,NaN,23.0,3.0,...,NaN,NaN,20.0,NaN,NaN,22.0,1.0,23,동대문구,이문동
3,201809,1741,휘경로23길,118,3.0,1.0,NaN,NaN,14.0,2.0,...,NaN,NaN,7.0,NaN,NaN,20.0,1.0,20,동대문구,이문동
4,201809,1740,휘경로14길,175,4.0,2.0,NaN,1.0,28.0,2.0,...,NaN,NaN,16.0,NaN,NaN,19.0,1.0,23,동대문구,휘경동

In [434]:
집객시설2018['아파트시가_분위'] = None

/Users/soolee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### 아파트 분위 추가

In [471]:
for idx in range(len(집객시설2018)):
    
    날짜 = 집객시설2018.loc[idx,'기준_년월_코드']
    상권코드 = 집객시설2018.loc[idx,'상권_코드']
    try:
        분위 = 아파트2018[(아파트2018['상권 코드'] == 상권코드) & (아파트2018['기준년월 코드'] == 날짜)].iloc[0]['아파트평균시가_분위']
    
    except Exception: 
        분위 = 아파트2018[아파트2018['상권 코드'] == 상권코드].iloc[0]['아파트평균시가_분위']
#    print(idx, 날짜, 상권코드, 분위)
    집객시설2018.loc[idx,'아파트시가_분위'] = 분위

### 아파트 가격 추가

In [452]:
집객시설2018['아파트 평균 시가'] = None

/Users/soolee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [456]:
from tqdm import tqdm_notebook
for idx in tqdm_notebook(range(len(집객시설2018))):
    
    날짜 = 집객시설2018.loc[idx,'기준_년월_코드']
    상권코드 = 집객시설2018.loc[idx,'상권_코드']
    try:
        분위 = 아파트2018[(아파트2018['상권 코드'] == 상권코드) & (아파트2018['기준년월 코드'] == 날짜)].iloc[0]['아파트 평균 시가']
    
    except Exception: 
        가격 = None
#    print(idx, 날짜, 상권코드, 분위)
    집객시설2018.loc[idx,'아파트 평균 시가'] = 가격

HBox(children=(IntProgress(value=0, max=15678), HTML(value='')))

In [454]:
집객시설2018.head()

,기준_년월_코드,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,...,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,구,동,아파트시가_분위,아파트 평균 시가
0,201809,1744,희우정로16길,185,4.0,2.0,NaN,NaN,14.0,1.0,...,3.0,NaN,NaN,42.0,NaN,52,마포구,망원동,NaN,None
1,201809,1743,휘경로3길,191,6.0,1.0,NaN,NaN,23.0,4.0,...,22.0,NaN,NaN,27.0,1.0,26,동대문구,이문동,NaN,None
2,201809,1742,휘경로2길,173,5.0,1.0,NaN,NaN,23.0,3.0,...,20.0,NaN,NaN,22.0,1.0,23,동대문구,이문동,NaN,None
3,201809,1741,휘경로23길,118,3.0,1.0,NaN,NaN,14.0,2.0,...,7.0,NaN,NaN,20.0,1.0,20,동대문구,이문동,NaN,None
4,201809,1740,휘경로14길,175,4.0,2.0,NaN,1.0,28.0,2.0,...,16.0,NaN,NaN,19.0,1.0,23,동대문구,휘경동,NaN,None

In [451]:
아파트2018.head()

,기준년월 코드,상권 코드,상권 코드명,아파트 단지 수,아파트 면적 66제곱미터 미만 세대 수,아파트 면적 66제곱미터 세대 수,아파트 면적 99제곱미터 세대 수,아파트 면적 132제곱미터 세대 수,아파트 면적 165제곱미터 세대 수,아파트 가격 1억 미만 세대 수,아파트 가격 1억 세대 수,아파트 가격 2억 세대 수,아파트 가격 3억 세대 수,아파트 가격 4억 세대 수,아파트 가격 5억 세대 수,아파트 가격 6억 이상 세대 수,아파트 평균 면적,아파트 평균 시가,아파트평균시가_분위
0,201809,1744,희우정로16길,725,9794.0,3179.0,309.0,17.0,4.0,2329.0,7015.0,2446.0,1148.0,355.0,NaN,10.0,49.585103,1.532007e+08,2
1,201809,1743,휘경로3길,448,6511.0,2347.0,1347.0,48.0,NaN,2837.0,1780.0,4077.0,1252.0,307.0,NaN,NaN,45.385955,1.226738e+08,1
2,201809,1742,휘경로2길,306,4584.0,1490.0,764.0,48.0,NaN,2064.0,1447.0,2219.0,849.0,307.0,NaN,NaN,46.707286,1.212300e+08,1
3,201809,1741,휘경로23길,244,4704.0,2833.0,1383.0,46.0,NaN,1262.0,1157.0,4988.0,1515.0,44.0,NaN,NaN,49.008602,1.313430e+08,2
4,201809,1740,휘경로14길,244,4789.0,2680.0,1228.0,48.0,NaN,1438.0,1540.0,3579.0,1763.0,425.0,NaN,NaN,50.025633,1.354403e+08,2

In [438]:
집객시설2018.tail()

,기준_년월_코드,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,...,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,구,동,아파트시가_분위
15673,201801,5,가마산로12길,114,3.0,6.0,2.0,2.0,16.0,NaN,...,NaN,9.0,NaN,NaN,11.0,NaN,15,구로구,구로동,2
15674,201801,4,가로공원로76길,229,3.0,4.0,NaN,2.0,30.0,3.0,...,NaN,1.0,NaN,NaN,28.0,NaN,26,강서구,화곡동,1
15675,201801,3,가락로36길,146,2.0,4.0,NaN,1.0,16.0,5.0,...,2.0,9.0,NaN,NaN,16.0,NaN,16,송파구,방이동,3
15676,201801,2,가락로28길,101,2.0,5.0,NaN,1.0,13.0,3.0,...,2.0,2.0,NaN,NaN,9.0,NaN,9,송파구,송파동,4
15677,201801,1,가락로16길,190,5.0,5.0,NaN,NaN,20.0,3.0,...,NaN,23.0,NaN,NaN,23.0,1.0,18,송파구,석촌동,3

In [439]:
집객시설2018.to_csv('data/서울시상권데이터/집객시설2018분위추가.csv',index=None)

### 아파트시가 분위별 집객시설 특징 분석

In [442]:
집객시설2018.pivot_table(index='아파트시가_분위', aggfunc='mean')

,고등학교_수,관공서_수,극장_수,기준_년월_코드,대학교_수,백화점_수,버스_정거장_수,버스_터미널_수,상권_코드,숙박_시설_수,슈퍼마켓_수,약국_수,유치원_수,은행_수,일반_병원_수,종합병원_수,중학교_수,지하철_역_수,집객시설_수,초등학교_수
아파트시가_분위,,,,,,,,,,,,,,,,,,,,
1,1.455556,5.053118,3.726316,201805,10.834951,1.0,37.896552,32.480460,812.896552,11.664948,1.787037,17.101382,2.609375,4.439698,2.200743,2.049020,1.362550,1.480583,201.264368,1.698925
2,1.573684,5.340230,3.254902,201805,12.112360,1.0,36.337931,32.749425,869.687356,17.496333,1.564885,15.958430,2.574684,4.799523,1.992982,1.868852,1.380769,1.515748,203.402299,1.772251
3,1.571429,5.639535,5.894737,201805,7.470588,1.0,34.756881,32.158257,908.036697,15.866667,1.655870,16.397701,2.914062,5.427208,2.243986,1.261538,1.434164,1.663082,203.509174,1.905852
4,1.445887,6.212121,4.193237,201805,6.784615,1.0,30.217890,28.736239,898.525229,13.063291,1.849123,13.308411,2.442254,7.123515,1.721393,2.326923,1.406977,1.768489,179.958716,1.640000

In [469]:
집객시설[['상권_코드','상권_코드_명','지하철_역_수']].sort_values(by='지하철_역_수',ascending=False)

       상권_코드   상권_코드_명  지하철_역_수
291     1453      증산서길      7.0
16562    859     소월로2길      7.0
3079     405    돈화문로4길      7.0
15969   1453      증산서길      7.0
344     1400     종로26길      7.0
345     1399     종로24길      7.0
13531    405    돈화문로4길      7.0
6110     859     소월로2길      7.0
7259    1453      증산서길      7.0
11789    405    돈화문로4길      7.0
10743   1453      증산서길      7.0
12539   1399     종로24길      7.0
884      859     소월로2길      7.0
12538   1400     종로26길      7.0
15273    405    돈화문로4길      7.0
10796   1400     종로26길      7.0
16022   1400     종로26길      7.0
16023   1399     종로24길      7.0
4368     859     소월로2길      7.0
9594     859     소월로2길      7.0
7852     859     소월로2길      7.0
14227   1453      증산서길      7.0
7312    1400     종로26길      7.0
3828    1400     종로26길      7.0
3775    1453      증산서길      7.0
1337     405    돈화문로4길      7.0
18304    859     소월로2길      7.0
5517    1453      증산서길      7.0
11336    859     소월로2길      7.0
5570    1400     종로26길      7.0
...      ...       ...      ...
19101     61    경인로35길      NaN
19106     56     겸재로9길      NaN
19107     55    거북골로2길      NaN
19110     52   거북골로16길      NaN
19114     48     개봉로3길      NaN
19134     28    갈현로45길      NaN
19135     27    갈현로41길      NaN
19136     26     갈현로3길      NaN
19137     25    갈현로37길      NaN
19138     24    갈현로33길      NaN
19139     23    갈현로29길      NaN
19140     22    갈현로23길      NaN
19141     21     갈현로1길      NaN
19143     19    가좌로7다길      NaN
19144     18     가좌로7길      NaN
19145     17     가좌로6길      NaN
19146     16    가좌로11길      NaN
19147     15    가재울로6길      NaN
19148     14    가재울로4길      NaN
19149     13   가재울로14길      NaN
19150     12     가산로7길      NaN
19151     11     가산로5길      NaN
19152     10     가산로3길      NaN
19153      9   가마산로89길      NaN
19155      7   가마산로61길      NaN
19156      6   가마산로15길      NaN
19157      5   가마산로12길      NaN
19158      4  가로공원로76길      NaN
19159      3    가락로36길      NaN
19160      2    가락로28길      NaN

[19162 rows x 3 columns]

In [472]:
집객시설2018.head()

,기준_년월_코드,상권_코드,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,...,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,구,동,아파트시가_분위,아파트 평균 시가
0,201809,1744,희우정로16길,185,4.0,2.0,NaN,NaN,14.0,1.0,...,3.0,NaN,NaN,42.0,NaN,52,마포구,망원동,2.0,1.53201e+08
1,201809,1743,휘경로3길,191,6.0,1.0,NaN,NaN,23.0,4.0,...,22.0,NaN,NaN,27.0,1.0,26,동대문구,이문동,1.0,1.22674e+08
2,201809,1742,휘경로2길,173,5.0,1.0,NaN,NaN,23.0,3.0,...,20.0,NaN,NaN,22.0,1.0,23,동대문구,이문동,1.0,1.2123e+08
3,201809,1741,휘경로23길,118,3.0,1.0,NaN,NaN,14.0,2.0,...,7.0,NaN,NaN,20.0,1.0,20,동대문구,이문동,2.0,1.31343e+08
4,201809,1740,휘경로14길,175,4.0,2.0,NaN,1.0,28.0,2.0,...,16.0,NaN,NaN,19.0,1.0,23,동대문구,휘경동,2.0,1.3544e+08

In [473]:
집객시설2018.to_csv('data/집객시설2018최종.csv',index=None)